<h1 class="text-center text-white">------- GET IN TOUCH -------</h1>
<h3 class="text-center text-white">Let's talk about how I can help you</h3>
<div class= "container">
<table class="table table-borderless table-dark contact-text"> 
	<tr>
		<p class="text-white ">  
			 <td> <%=fa_icon("phone", class: "contact-icons text-white") %></td>
			 <td>9586986978</td> 
	    </p>
	</tr>
   <tr>
		<p class="text-white">  
			 <td> <%=fa_icon("envelope", class: "contact-icons text-white") %></td>
			 <td>kanthinavya@gmail.com</td> 
	    </p>
	 </tr>

   <tr>
		<p class="text-white">  
			 <td> <%=fa_icon("telegram", class: "contact-icons text-white") %></td>
			 <td>1234568797</td> 
	    </p>
	 </tr>
</table>
</div>
<div class= "container  contact-form overflow-auto ">
	 <h4>QUESTIONS? SEND ME A MESSAGE</h4>
	 <form>
  <div class="form-group shadow p-1  ">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group shadow p-1 ">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <div class="form-group form-check ">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary shadow p-2 ">Submit</button>
</form>

</div>