
@import 'bootstrap';
@import "font-awesome-sprockets";
@import "font-awesome";
#sticky-footer{
	background-color: #212529;
}
.jumbotron {
	background-image: asset-url('autres-metiers.jpg');

	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
    height: 79vh;	
    margin: 2vh;
 }
body {
	background-color: #212529;
}
.nav-item {
	font-weight: bold;
	margin: auto;
	padding-left: 2.5em;
}
.nav-link {
	letter-spacing: 3px;

}
.footer-font {
	font-size: 20px;
}