<footer id="sticky-footer" class= "py-4 text-white">
	<div class="container">
		<div class= "row">
		<small>Copyright &copy; <%= link_to "navya", "https://google.com", class: "text-white" %></small>
		<i class="mx-auto fa fa-facebook-official footer-font" aria-hidden="true"></i>
		
		<i class="mx-auto fa fa-share footer-font" aria-hidden="true"></i>
		<i class=" mx-auto fa fa-whatsapp footer-font" aria-hidden="true"></i>
		<i class=" mx-auto fa fa-instagram footer-font" aria-hidden="true"></i>     
		</div>
	</div>
</footer>