<footer id="sticky-footer" class= "py-4 text-white">
	<div class="container">
		<div class= "row">
		<small>Copyright &copy; <%= link_to "navya", "https://google.com", class: "text-white" %></small>
		<i class="mx-auto fa-2x fa fa-facebook-official" aria-hidden="true"></i>
		<i class="mx-auto fa-2x fa fa-share" aria-hidden="true"></i>
		<i class=" mx-auto fa-2x fa fa-whatsapp" aria-hidden="true"></i>
		<i class=" mx-auto fa-2x fa fa-instagram" aria-hidden="true"></i>     
		</div>
	</div>
</footer>